/** @format */

* {
  box-sizing: border-box;
}
body {
  /* background-color: blanchedalmond; */
  color: #222;
}

ul {
  margin-top: 0;
}

a {
  background: transparent;
  text-decoration: none;
}

.text-button {
  border: none;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0;
  border-radius: 20px;
}

/* Header of page start */
header {
  height: 60px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 40px;
  align-items: center;
}

img.main-logo {
  height: 40px;
  width: auto;
}

.search-form {
  margin-right: auto;
  width: 70%;
  margin-left: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}

form input[type='text'] {
  color: gray;
  font-size: 15px;
  padding: 10px 20px;
  padding-right: 60px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  outline: none;
  transition: background-color 0.25s, color 0.25s, box-shadow 0.25s;
}

form input[type='text']:hover {
  border-color: rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s, border-color 0.2s;
  color: #000000;
  box-shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.2);
}

form input[type='text']:hover + .search-button .icon-search {
  opacity: 1;
}

form input[type='text']:focus {
  border: 0px solid #aaa;
  color: #333;
  box-shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.2);
}

form input[type='text']:placeholder {
  color: #aaa;
}

.search-form .search-keyword {
  width: 60%;
}

.search-form .search-button {
  background: transparent;
  border: none;
  vertical-align: middle;
  padding: 0;
  position: relative;
  left: -40px;
  cursor: pointer;
}

.search-form .search-button .icon-search {
  height: 20px;
  width: auto;
  opacity: 0.5;
}

ul.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}

.nav-list .list-item {
  display: block;
  padding: 10px 15px;
}

.nav-list .list-item a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  color: #222;
}

.nav-list .list-item a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.nav-list .list-item a.img-link {
  position: relative;
  top: -5px;
}

.nav-list .list-item a img {
  border-radius: 50%;
  padding-right: 2px;
  opacity: 0.7;
}

.nav-list .list-item a .twitter-logo {
  height: 20px;
  width: auto;
  position: relative;
  top: 4px;
}

.nav-list .list-item a .slack-logo {
  height: 20px;
  width: auto;
  position: relative;
  top: 4px;
}

/* Header of page end */

/* Container of page start */
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2px 40px;
}

.infinite-list {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.infinite-list .paper-item {
  margin: 0 auto;
  width: 80%;
  height: auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  transition: box-shadow 0.1s;
}

.infinite-list .paper-item:hover {
  border-color: rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.1s, border-color 0.1s;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

.infinite-list .paper-item a {
  width: 30%;
  height: auto;
  text-align: center;
}

.infinite-list .paper-item a .paper-img {
  width: 30%;
  height: auto;
}

/* paper-introduction start */
.infinite-list .paper-item .paper-introduction {
  width: 50%;
  height: auto;
}

.infinite-list .paper-item .paper-introduction .paper-title {
  color: #222;
  font-size: 18px;
}

.infinite-list .paper-item .paper-introduction .paper-title:hover {
  color: #aaa;
  font-size: 18px;
}

.infinite-list .paper-item .paper-introduction .paper-abstract {
  color: #222;
  font-size: 14px;
}

.infinite-list .paper-item .paper-subinfo {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infinite-list .paper-item .paper-subinfo a {
  width: 130px;
  height: 50px;
  border: 1px #e0e0e0 solid;
  border-radius: 5px;
  margin-top: 10px;
  padding: 15px;
  vertical-align: bottom;
}

.infinite-list .paper-item .paper-subinfo a.link-to-detail,
.infinite-list .paper-item .paper-subinfo a.link-to-detail:focus {
  background-color: #1ab37c;
  color: #fff;
}

.infinite-list .paper-item .paper-subinfo a.link-to-detail:hover {
  color: #fff !important;
  background-color: #1a9b64 !important;
  cursor: pointer;
}

.infinite-list .paper-item .paper-subinfo a.link-to-github,
.infinite-list .paper-item .paper-subinfo a.link-to-github:focus {
  background-color: #1f6bcd;
  color: #fff;
}

.infinite-list .paper-item .paper-subinfo a.link-to-github:hover {
  color: #fff !important;
  background-color: #1a519b !important;
  cursor: pointer;
}

.infinite-list .paper-item .paper-subinfo a svg {
  width: 1em;
  height: auto;
  fill: currentColor;
  stroke: currentColor;
  margin-right: 5px;
}

/* Register form start */
.register-title {
  font-size: 50px;
  margin: 30px auto;
}

.register-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.register-form label {
  font-weight: 500;
}

.register-form input {
  margin: 20px 0;
}

.register-form input[type='text']:focus {
  border: 0.5px solid #aaa;
  color: #333;
  box-shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.2);
}

.register-form button {
  margin: 20px 0;
  background-color: #00d6c9;
  color: #fff;
}

.register-form button:hover {
  background-color: #21cbce;
  color: #fff !important;
}
/* Register form end */

/* Logion form start */
.login-section {
  border: 1px solid #aaa;
  border-radius: 5px;
}
.login-title {
  font-size: 30px;
  margin: 30px auto;
}

.login-form {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}

.login-form label {
  font-weight: 500;
}

.login-form input {
  margin: 20px 0;
}

.login-form input[type='text']:focus {
  border: 0.5px solid #aaa;
  color: #333;
  box-shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.2);
}

.login-form button {
  margin: 20px 0;
  background-color: #00d6c9;
  color: #fff;
}

.login-form button:hover {
  background-color: #21cbce;
  color: #fff !important;
}
/* Logion form end */
