/** @format */

.header {
  width: 100%;
  height: 60px;
  padding: 0px;
  position: fixed;
  top: 0px;
  background-color: #ffffff;
  z-index: 2;
}

.header__wrapper {
  padding: 10px 30px;
  max-width: 1200px;
  margin: 0px auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.header__column:nth-child(2) {
  width: 100%;
  justify-self: center;
}
.header__column:last-child {
  justify-self: end;
}

.header__column .header__link {
  font-size: 14px;
  color: #444444;
}

.header__column .header__logo {
  width: 40px;
  height: 40px;
}

.header__column .header__search {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  color: #444444;
  border-radius: 5px;
}

.header__column .header__search::placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.header__column .header__list {
  display: flex;
  text-transform: uppercase;
}

.header__list li {
  margin-left: 15px;
}
