/** @format */
.item-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 25px;
  column-gap: 25px;
  padding-top: 10px;
}

.item {
  padding: 10px;
  margin: 0 auto;
  max-width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  transition: transform 0.6s cubic-bezier(0.2, 0.8, 0.2, 1),
    box-shadow 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0 30px 60px;
  transform: translateY(-10px);
}

.item .item__thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.item .item__row {
  padding: 0 15px;
}

.item .item__title {
  display: block;
  color: #444444;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.item .item__column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item .item__interests {
  display: flex;
}

.item__interests li {
  margin-right: 7px;
}

.item .item__hashtags {
  display: flex;
}

.item .item__hashtag {
  margin-right: 7px;
}

.item .item__hashtag:last-child {
  margin-right: 0px;
}

.item__hashtag a {
  color: rgba(0, 0, 0, 0.3);
}
.item__hashtag a:hover {
  color: #1890ff;
}

.item__links {
  position: absolute;
  right: 15px;
  top: 15px;
  display: none;
}

.item:hover .item__links {
  display: flex;
}

.item__links li {
  margin-right: 10px;
}
.item__links li:last-child {
  margin-right: 0px;
}

.item__link {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.item__link--like {
  color: rgb(36, 41, 46);
}
.item__link--like:hover {
  color: rgba(36, 41, 46, 0.8);
}

.item__link--github {
  color: rgb(36, 41, 46);
}
.item__link--github:hover {
  color: rgba(36, 41, 46, 0.8);
}

.item__link--paper {
  color: rgb(59, 89, 152);
}
.item__link--paper:hover {
  color: rgba(59, 89, 152, 0.8);
}
